<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeAier.app.dao.mapper.T3aierArticleFileMapper" >
  <resultMap id="BaseResultMap" type="com.threeAier.app.dao.domain.T3aierArticleFile" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_address" property="fileAddress" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="SMALLINT" />
  </resultMap>
</mapper>